<p>Ingredients</p>

<div ng-repeat="ingredient in recipe.ingredients" class="input-group">
    <!--
    <span class="input-group-btn">
        <input type="number" placeholder="qty" ng-model="ingredient.quantity" />
    </span>
    <span class="input-group-btn">
        <select ng-model="ingredient.units">
            <option value="">units</option>
        </select>
    </span>-->
    <input type="text" class="form-control" placeholder="description" ng-model="ingredient.description" />
    <span class="input-group-btn">
        <button class="btn btn-default" ng-click="addIngredient($index)">+</button>
    </span>
</div>