<div class="row">
    <form name="editForm" class="col-sm-10 col-sm-offset-1" ng-submit="submit()" novalidate>
        <ul class="step-navigator text-center">
            <li ng-repeat="s in steps" class="step" ng-class="{active: $index === currentStep}" ng-bind="$index+1" ng-click="setStep($index)"></li>
        </ul>
        
        <div ng-if="errors" class="alert alert-danger">
            <ul class="error-list">
                <li ng-repeat="e in errors" ng-bind="e"></li>
            </ul>
        </ul>
        
        <div ui-view></div>
        
        <nav>
            <ul class="pager">
                <li ng-if="currentStep > 0"><a href ng-click="back()"><span aria-hidden="true">&larr;</span> Back</a></li>
                <li ng-if="currentStep != steps.length - 1"><a href ng-click="next()">Next <span aria-hidden="true">&rarr;</span></a></li>
                <li ng-if="currentStep >= steps.length - 1"><a href ng-click="submit()">Submit</a></li>
            </ul>
        </nav>
    </form>
 </div>