$separator-width: 2em;
$separator-height: .2em;
$indicator-size: 2em;

.step-navigator {
    padding: 0;
    
    .step {
        width: $indicator-size;
        height: $indicator-size;
        border-radius: $indicator-size/2;
        
        line-height: $indicator-size;
        text-align: center;
        margin-left: $separator-width;
        
        position: relative;
        display: inline-block;
        background-color: $step-active-bgcolor;
        color: $step-active-color;
        cursor: pointer;
    }
    
    .step.active ~ .step {
        background-color: $step-inactive-bgcolor;   
        color: $step-inactive-color;
    }
    
    .step:first-child {
        margin-left: 0;   
    }

    .step:not(:last-child):after {
        content: ' ';
        position: absolute;
        top: 50%;
        right: -($separator-width + ($indicator-size / 4));
        margin-top: -($separator-height/2);
        
        height: $separator-height;
        width: $separator-width + ($indicator-size / 4);
        display: block;
        
        background-color: $step-active-bgcolor;
        cursor: default;
    }
    
    .step.active:after, .step.active ~ .step:not(:last-child):after {
        background-color: $step-inactive-bgcolor; 
    }
    
    
}