<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <title>{block name=title}Untitled | {$global.appName}{/block}</title>
        
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" />
        <link rel="stylesheet" type="text/css" href="/css/{$global.appVersion}/bootstrap-bare.css" />
        <link rel="stylesheet" type="text/css" href="/css/{$global.appVersion}/site.css" />
        
        {if isset($global.debug) and $global.debug }
            <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js"></script>
        {else}
            <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>
        {/if}
        
        {block name=head}{/block}
    </head>
    <body>
        <header class="navigator">
            <div class="container text-center">
                <span class="site-title"><strong>{$global.appName|upper}</strong></span>
            </div>
        </header>
        <section class="content container">
            {block name=body}{/block}
        </section>
    </body>
</html>